.container {
  display: grid;
  grid-template-rows: 15% 85%;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  z-index: -1;
}

.usersLocationButton {
  display: grid;
  place-items: center;
  position: fixed;
  background: var(--color-tabs);
  width: 100vw;
  z-index: 400;
  bottom: 0;
}

h1 {
  font-size: var(--font-size-primary);
  text-transform: uppercase;
  font-family: var(--font-text);
}

.arrow {
  display: flex;
}

.arrow img {
  height: 2rem;
  align-self: center;
  width: auto;
}
