.cafeButton {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  width: 150px;
  height: 150px;
  border-radius: 30%;
  background-color: var(--color-tabs);
}

.restaurantButton {
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  border-radius: 30%;
  background-color: var(--color-tabs);
}

.activitiesButton {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  width: 150px;
  height: 150px;
  border-radius: 30%;
  background-color: var(--color-tabs);
}

.hotelsButton {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  width: 150px;
  height: 150px;
  border-radius: 30%;
  background-color: var(--color-tabs);
}

.retailButton {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  width: 150px;
  height: 150px;
  border-radius: 30%;
  background-color: var(--color-tabs);
}

.cafeIcon {
  width: 50px;
  height: 50px;
  padding-top: 2rem;
}

.restaurantIcon {
  width: 50px;
  height: 50px;
  padding-top: 2rem;
}

.activitiesIcon {
  width: 50px;
  height: 50px;
  padding-top: 2rem;
}

.hotelsIcon {
  width: 50px;
  height: 50px;
  padding-top: 2rem;
}

.retailIcon {
  width: 50px;
  height: 50px;
  padding-top: 2rem;
}

.textCafe {
  padding-top: 1rem;
  font-size: var(--font-size-tabsbuttons);
  text-transform: uppercase;
}

.textRestaurant {
  padding-top: 1rem;
  font-size: var(--font-size-tabsbuttons);
  text-transform: uppercase;
}

.textActivities {
  padding-top: 1rem;
  font-size: var(--font-size-tabsbuttons);
  text-transform: uppercase;
}

.textHotels {
  padding-top: 1rem;
  font-size: var(--font-size-tabsbuttons);
  text-transform: uppercase;
}

.textRetail {
  padding-top: 1rem;
  font-size: var(--font-size-tabsbuttons);
  text-transform: uppercase;
}
