.detailsCard {
  display: grid;
  background-color: var(--color-tabs);
  border-radius: 10px;
  width: 15em;
  height: 15em;
  align-content: center;
  text-transform: uppercase;
  font-weight: bold;
}
