@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  /* colors */
  --primary-background-color: #e5e5e5;
  --primary-text-color: black;
  --primary-font: "Roboto", sans-serif;
  --color-tabs: rgb(123 104 238 / 50%);
  --color-tab-bucketlist: rgb(255 218 185 / 50%);
  --color-button-covid: rgb(250 128 114 / 50%);

  /* fonts */
  --font-text: "Roboto", sans-serif;
  --font-size-primary: 60px;
  --font-size-secondary: 12px;
  --font-size-tabsbuttons: 18px;
  --font-size-locationinfos: 8px;
}

a {
  font-family: var(--font-text);
  text-decoration: none;
}

h1 {
  font-size: var(--font-size-primary);
  text-transform: uppercase;
  font-family: var(--font-text);
}
