*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1;
}

:root {
  /* colors */
  --primary-background-color: #e5e5e5;
  --primary-text-color: black;
  --primary-font: "Roboto";
  --color-tabs: #a0aff4;
  --color-tab-bucketlist: #d2c099;
  --color-button-covid: #d98d89;

  /* fonts */
  --font-text: "Roboto";
  --font-size-primary: 48px;
  --font-size-secondary: 25px;
  --font-size-tabsbuttons: 18px;
  --font-size-locationinfos: 18px;
}
